@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }
  

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  @keyframes meteor {
    0% {
      transform: translateX(-50%) translateY(-50%) scale(0.5);
      opacity: 1;
    }
    50% {
      transform: translateX(150%) translateY(150%) scale(2);
      opacity: 0.6;
    }
    100% {
      transform: translateX(300%) translateY(300%) scale(3);
      opacity: 0;
    }
  }
  
  .animate-meteor {
    animation: meteor 1.5s ease-in-out infinite;
  }

  

  .falling-letter {
    display: inline-block;
    opacity: 0;
    animation: fall 1.5s forwards;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  